.form-screen{
    background-color: #495E57;
    padding: 0 150px;
    text-align: center;
    color: white;
}

.res-title{
    padding: 100px 0 0;
    font-size: 4rem;
    color: #f4ce14;
}

hr.separator{
    margin: 30px 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 8px solid #333;
    border-radius: 5px;
}

.res-subtitle{
    color: #f4ce14;
    font-size: 2.7rem;
    font-weight: 100;
    margin-bottom: 20px;
}

.res-form{
    padding-bottom: 100px;
    display: grid;
    font-size: 2.3rem;
    gap: 20px;
}

.res-form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Markazi Text', serif;
}

input, select{
    font-family: 'Markazi Text', serif;
    font-size: 1.3rem;
    width: 300px;
    padding: 10px;
    border-color: transparent;
    border-radius: 5px;
}

span{
    font-size: 1.5rem;
    color: rgb(211, 102, 29);
    display: none;
}

input:invalid[focused = "true"] ~ span{
    display: block;
}

select:invalid[focused = "true"] ~ span{
    display: block;
}

input:invalid[focused = "true"], select:invalid[focused = "true"]{
    border: 3px solid rgb(211, 102, 29);
}

.res-submit{
    font-family: 'Markazi Text', serif;
    margin: 50px 0;
    font-size: 2rem;
    color: #333;
    background-color: #f4ce14;
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid #495E57;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.res-submit:hover{
    background-color: #495E57;
    color: #f4ce14;
    border: 2px solid #f4ce14;
}