footer{
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    max-width: 150px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
}